services:
  serve:
    build:
      dockerfile: Dockerfile
      context: .
    environment:
      CGO_ENABLED: 0
    volumes:
      - go-modules:/usr/local/go/pkg/mod
    ports:
      - {{ .Data.Port }}:{{ .Data.Port }}
    entrypoint: /gearbox
    command:
      - "-conn"
      - "postgres://user:pass@db:5432/db_name?sslmode=disable"
      - "-port"
      - "{{ .Data.Port }}"
    depends_on:
      - db
    networks:
      - test
  db:
    image: postgres
    environment:
      POSTGRES_DB: db_name
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    networks:
      - test
    ports:
      - 5432:5432
    volumes:
      db:/var/lib/postgresql
networks:
  test:
    driver: bridge
volumes:
  go-modules:
  db: