module {{ .Data }}

go 1.16

require (
	github.com/go-pg/pg/v11 v11.0.0-alpha.5
	github.com/gogearbox/gearbox v1.2.0
	github.com/iamgoroot/gearpg v0.0.0-20210218235744-dca98d2e252a
	github.com/timsolov/rest-query-parser v1.9.4
)