openapi: 3.0.3
{{- $camel := .CamelCase }}
{{- $lowCamel := .LowCamelCase }}
{{- $kebab := .KebabCase }}
info:
  title: Generated server API docs
  version: '0.1'
  description: |-
    Generated server API docs
  contact:
    url: 'none'
    name: "iamgoroot@gmail.com"
paths:
    {{- range $index, $element := .Data.Names }}
    '/{{ call $lowCamel $element }}':
        $ref: 'openapi-{{ call $lowCamel $element }}.yaml#/paths/{{ $element }}'
    {{- end}}
components:
    schemas:
    {{- range $index, $element := .Data.Names }}
    {{ call $camel $element }}ListResponse:
        $ref: 'openapi-{{ call $kebab $element }}.yaml#/components/schemas/{{ call $camel $element }}ListResponse'
    {{ call $camel $element }}Response:
        $ref: 'openapi-{{ call $kebab $element }}.yaml#/components/schemas/{{ call $camel $element }}Response'
    {{- end}}
